* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed !important;
    background-color: white;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;

}

.maorgross {
    display: flex;
    align-items: center;
    color: #2D2C2F;
    gap: 15px;
}

.maorgross>img {
    width: 4em;
    height: 4em;
    border-radius: 100%;

}

.maorgross>#url {
    width: 5em !important;
    height: 3em;
}

#url {
    border-radius: unset;
}

@font-face {
    font-family: "Satisfy-Regular";
    src: url(../fonts/Satisfy-Regular.ttf)
}

.maorgross>h2 {
    font-family: "Satisfy-Regular";
    font-size: 2em;
    color: #2D2C2F;
}

@font-face {
    font-family: "Heebo-Bold";
    src: url(../fonts/Heebo-Bold.ttf);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3.5em;
    direction: rtl;
    font-family: "Heebo-Bold";
    font-size: 1.5em;
    color: #2D2C2F;
}

nav>ul>a {
    color: #2D2C2F;
    text-decoration: none;
}

ul>a:hover {
    color: #3DBDA4;
}

.container-big {

    margin-top: 5em;
    background-image: url(../images/background/background_emoji.png);
}

header {
    width: 100%;
    height: 28em;
    display: flex;
    direction: rtl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    opacity: 1;
    background: url(../images/background/IMG_6693.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #2D2C2F;

}

@font-face {
    font-family: "Heebo-Black";
    src: url(../fonts/Heebo-Black.ttf);
}

header h1 {
    width: 70%;
    font-family: "Heebo-Black";
    font-size: 5em;
}

@font-face {
    font-family: "Heebo-Medium";
    src: url(../fonts/Heebo-Medium.ttf);
}

header p {
    width: 70%;
    font-family: "Heebo-Medium";
    font-size: 1.25em;
    text-align: center;
}



button {
    width: 9.5em !important;
    height: 2em !important;
    color: white !important;
    background-color: #3DBDA4 !important;
    font-family: "Heebo-Medium" !important;
    font-size: 1em !important;
    border-radius: 5em !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    box-shadow: 0px 3px 6px #2D2C2F;
    opacity: 1;
}

.reviwes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    margin: 100px auto;

}

.reviwes>h1 {
    font-family: "Heebo-Black";
    font-size: 2em;
}




.projectPic {
    width: 100vw;
    height: 65em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectPic>img {
    width: 70%;
    height: 70%;
    box-shadow: 0px 0px 40px #00000066;
    opacity: 1;
}

.gallery-background {
    background-color: #F6F6F6;
    width: 100%;
    height: 247em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-box {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: #2D2C2F;
}

.gallery-box>h1 {
    font-family: "Heebo-Black";
    font-size: 2em;
}

.gallery-box>p {
    width: 40%;
    font-family: "Heebo-Regular";
    font-size: 1.25em;
}

.gallery-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3em;
}

.gallery-item {
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.gallery-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.gallery-item>img {
    width: 100%;
    height: 40%;
    background-size: cover;
    border-radius: 10px;

}

.gallery-item>h1 {
    font-family: "Heebo-Medium";
    font-size: 1.5em;
}

.gallery-item>p {
    font-family: "Heebo-Regular";
    font-size: 1em;
}

.logo-small>img {
    width: 1.5em;
    right: 1.5em;
}

.cards-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.cards-item {
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.cards-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cards {
    width: 50%;
    height: 50%;
}

.java-script-container {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.java-script-item {
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.java-script-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.javaScript {
    width: 100%;
    height: 40%;
}

#carouselExampleDark {
    width: 90%;
    max-width: 500px;
}

.carousel-item>iframe {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #2D2C2F;

}

footer>h2 {
    margin: 0 1em;
    color: white;
    font-size: 1.25em;
}

@font-face {
    font-family: "Heebo-Regular";
    src: url(../fonts/Heebo-Regular.ttf);
}

.MG {
    font-family: "Heebo-Regular";
}

@font-face {
    font-family: "Heebo-Light";
    src: url(../fonts/Heebo-Light.ttf);
}

.save {
    font-family: "Heebo-Light";
}


@media screen and (max-width:1200px) {

    nav {
        justify-content: space-between;
        position: fixed;
        background-color: white;
    }

    #nav-phone {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: fixed;
        right: 0;
        margin-right: 2em;
    }

    #nav-phone>div {
        width: 2.5em;
        height: 0.25em;
        background-color: #3DBDA4;
    }

    .maorgross h2 {
        display: none;
    }

    .maorgross {
        margin: 0 1.5em;
    }

    #open-close {
        width: 100vw;
        position: fixed;
        flex-direction: column;
        gap: 0;
        justify-content: end;
        margin-top: 12em;
        gap: 1em;
        background-color: white;
        display: none;
        text-align: center;
    }

    ul>a>li {
        text-align: center;
    }

    header {
        width: 100%;
        height: 50em;
    }

    header>h1 {
        font-size: 2.5em;
        text-align: center;
    }

    header>p {
        width: 70%;
        font-size: 1em;
        text-align: center;
    }

    .logo {
        height: 2.75em;
    }

    .logo>img {
        width: 2.75em;
        height: 2.75em;
    }

    .gallery-item {

        gap: 1.5em;

    }


    .gallery-background {
        height: 670em;
    }

    .gallery-box {
        width: 90%;
        height: 97.5%;
        margin: 7em auto;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 3em;
    }

    .cards-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .java-script-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer {
        font-size: 1em;
    }

}