.servis {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 100px auto;
    flex-wrap: wrap;

}



.servis>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servis>div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.servis>div>img {
    width: 8.75em;
    height: 8.75em;
    border-radius: 100%;
    display: flex;
}

.servis>div>h2 {
    width: 50%;
    font-family: "Heebo-Regular";
    font-size: 1.25em;
    text-align: center;

}

.servis>div>p {
    font-family: "Heebo-Regular";
    direction: rtl;
}

#servis {
    font-family: "Heebo-Black";
    font-size: 2em;
    color: #2D2C2F;
    text-align: center;
}

.servis_text {
    width: 90%;
    direction: rtl;
    text-align: center;
    font-family: "Heebo-Regular";
    font-size: 1.25em;
}

p.servis_text {
    width: 50%;
}


#carouselExampleDark {
    width: 90%;
    max-width: 500px;
}

.carousel-item>iframe {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:1200px) {
    p.servis_text {
        width: 90%;
    }
}